<div class="center">
  <%= form_with(model: [@project, @drop], class: 'needs-validation') do |form| %>

    <div class="inputbox">
      <%# <input type="text" required="required"> %>
	  <%= form.text_field :name, class: 'form-control', required: true %>
      <span>Name</span>
    </div>
    <div class="inputbox">
      <%# <input type="text" required="required"> %>
	  <%= form.text_field :description, class: 'form-control', required: true %>
      <span>Description</span>
    </div>
    
    <div class="inputbox">
      <%# <input type="text" required="required"> %>
	  <%= form.file_field :file, class: 'form-control', required: true %>
      
    </div>
    
    <div class="inputbox">
      <%# <input type="button" value="submit"> %>
	  <%= form.submit 'Upload' %>
    </div>
  
  <% end %>
  
</div>