<div class="container mt-5">
  <%= notice %>

  <div class="container bg-warning text-white p-4 rounded">
    <h1 class="text-center"><%= @drop.title %></h1>
    <h4 class="text-center"><%= @drop.description %></h4>
  </div>

  <div class="my-4"></div>

  <div class="text-center">
    <% if @drop.file %>
      <%= link_to 'Download', @drop.file, class: "btn btn-primary mx-2" %>
    <% else %>  
      <%= link_to 'Download', root_path, class: "btn btn-primary mx-2" %>
    <% end %>
    <%= button_to "Destroy this drop", [@project, @drop], method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
  </div>
</div>
