<div class="center">
      <%= form_with(model: @project, class: 'needs-validation', novalidate: true) do |form| %>
        <% if @project.errors.any? %>
          <div class="alert alert-danger">
            <h4><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h4>

            <ul>
              <% @project.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>

        <% end %>

    <div class="inputbox">
      <%# <input type="text" required="required"> %>
	  <%= form.text_field :name, class: 'form-control', required: true %>
      <span>Name</span>
    </div>
    <div class="inputbox">
      <%# <input type="text" required="required"> %>
	  <%= form.text_field :body, class: 'form-control', required: true %>
      <span>Description</span>
    </div>
    <div class="inputbox">
      <%# <input type="button" value="submit"> %>
	  <%= form.submit 'Save Project' %>
    </div>
  
  <% end %>
  
</div>