<div class="center">
      <%= form_with(model: [@project,inbox], class: 'needs-validation', novalidate: true) do |form| %>
        <% if @inbox.errors.any? %>
          <div class="alert alert-danger">
            <h4><%= pluralize(@inbox.errors.count, "error") %> prohibited this project from being saved:</h4>

            <ul>
              <% @inbox.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>

        <% end %>

    <div class="inputbox">
      <%# <input type="text" required="required"> %>
	  <%= form.text_field :name, class: 'form-control', required: true %>
      <span>Name</span>
    </div>
    <div class="inputbox">
      <%# <input type="button" value="submit"> %>
	  <%= form.submit 'New Topic' %>
    </div>
  
  <% end %>
  
</div>